*, *::after, *::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --content-primary: #FFFFFF;
  --content-secondary: #C7C9CC;
  --content-tertiary: #D9D9D9;
  --content-brand: #C58DE7;
  --color-inverse: #030203;

  --bg-primary: #020202;
  --bg-secondary: #111012;
  --bg-tertiary: #24222E;
  --bg-brand: #C58DE7;
  --bg-gray: #3D3D3D;

  --accent-pink: #D586ED;
  --accent-blue: #91A1FA;
  --accent-green: #77CC0A;
  --accent-lime: #D1DC97;
  --accent-red: #E9A9B3;

  --gradient-background: linear-gradient(to right, #77CC0A 0%, #D1DC97 100%);
  --gradient-border: linear-gradient(to right, #77CC0A 0%, #D1DC97 100%);
  --gradient-content: linear-gradient(to right, #91A1FA 0%, #C58DE7 100%);

  --ff-sora: 'Sora', sans-serif;
  --sora-lg-size: 72px;
  --sora-lg-lh: 150%;
  --sora-lg-lw: 800;

  --sora-md-size: 40px;
  --sora-md-lh: 130%;
  --sora-md-lw: 800;

  --sora-sm-size: 32px;
  --sora-sm-lh: 130%;
  --sora-sm-lw: 700;

  --ff-roboto-mono: 'Roboto Mono', monospace;
  --roboto-mono-overline-size: 16px;
  --roboto-mono-overline-lh: 150%;
  --roboto-mono-overline-lw: 700;

  --ff-roboto-flex: 'Roboto Flex', sans-serif;
  --roboto-flex-md-size: 16px;
  --roboto-flex-md-lh: 150%;
  --roboto-flex-md-lw: 500;

  --roboto-flex-p-md-size: 14px;
  --roboto-flex-p-md-lh: 130%;
  --roboto-flex-p-md-lw: 500;

  --roboto-flex-p-sm-size: 12px;
  --roboto-flex-p-sm-lh: 150%;
  --roboto-flex-p-sm-lw: 500;

  --roboto-flex-label-md-size: 20px;
  --roboto-flex-label-md-lh: 150%;
  --roboto-flex-label-md-lw: 700;

  --roboto-flex-label-sm-size: 16px;
  --roboto-flex-label-sm-lh: 150%;
  --roboto-flex-label-sm-lw: 700;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: var(--bg-primary);
  background-image: url(assets/background.png);

  display: flex;
  justify-content: center;
  align-items: center;
}

p {
  font-family: var(--ff-roboto-mono);
  font-weight: var(--roboto-mono-overline-lw);
  font-size: var(--roboto-mono-overline-size);
  line-height: var(--roboto-mono-overline-lh);
  background-image: linear-gradient(to right, var(--content-secondary), var(--bg-gray));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

h2 {
  font-family: var(--ff-sora);
  font-weight: var(--sora-lg-lw);
  font-size: var(--sora-md-size);
}

h3 {
  font-family: var(--ff-roboto-flex);
  font-weight: var(--roboto-flex-label-md-lw);
  font-size: var(--roboto-flex-label-md-size);
  line-height: var(--roboto-flex-label-md-lh);
}

.description {
  font-family: var(--ff-roboto-flex);
  font-weight: var(--roboto-flex-p-md-lw);
  font-size: var(--roboto-flex-p-md-size);
  line-height: var(--roboto-flex-p-md-lh);
  color: var(--content-tertiary);
}

#home {
  width: 390px;
  height: 957px;
  border: 2px solid blue;
}

.number-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 2.75rem;
}

.title {
  color: var(--content-primary);
  margin-inline: 2.2rem;
}

.draw-number {
  color: var(--content-primary);
  margin-inline: 2.2rem;
  margin-top: 2.2rem;
}

.numbers-input-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

label {
  font-family: var(--ff-roboto-flex);
  font-weight: var(--roboto-flex-label-md-lw);
  line-height: var(--roboto-flex-label-md-lh);
  font-size: var(--roboto-flex-label-sm-size);
  color: var(--content-secondary);
}

.input-group {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 2.5rem;
}

.toggle-switch {
  display: flex;
  align-items: center;
  margin-top: 1.25rem;
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-button-container label[for="slider"] {
  position: relative;
  display: inline-block;
  width: 1.875rem;
  height: 1.25rem;
  background-color: var(--bg-gray);
  border-radius: 2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;

}

.toggle-button-container label[for="slider"]::before {
  content: '';
  position: absolute;
  top: 50%;
  left: .25rem;
  transform: translateY(-50%);
  width: .9rem;
  height: .9rem;
  background-color: var(--content-primary);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.toggle-switch-text {

  font-family: var(--ff-roboto-flex);
  font-weight: var(--roboto-flex-p-md-lw);
  font-size: var(--roboto-flex-p-md-size);
  color: var(--content-secondary);
  margin-left: .5rem;
}

.toggle-button-container input[type="checkbox"]:checked + label[for="slider"] {
  background: var(--gradient-content);
}

.toggle-button-container input[type="checkbox"]:checked + label[for="slider"]::before {
  transform: translate(.5rem, -50%);
}

input {
  height: 3.5rem;
  width: 5.4rem;
  text-align: center;
  color: var(--content-primary);
  font-family: var(--ff-sora);
  font-weight: var(--sora-md-lw);
  font-size: var(--sora-sm-size);
  line-height: var(--sora-lg-lh);

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: .5rem;
  background-color: var(--bg-secondary);
  border: none;
}

.draw-button {
  margin-top: 2.5rem;
  height: 3.5rem;
  width: 20rem;
  background-color: var(--bg-tertiary);
  border: none;
  border-radius: .5rem;
  color: var(--content-primary);

  align-content: center;
  align-items: center;
  justify-content: center;
}
